
.img1 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 120PX;
}

.legenda {
    width: 475px;
    height: 256px;
    font-size: 22px;
}

.img2 {
    grid-column-gap: 100px;
    flex-direction: row-reverse ;
    display: flex;
    gap: 120px;
    margin-bottom: 100px;
    margin-top: 100px;  
    justify-content: center;
    align-items: center;
}

.legenda2 {
    width: 475px;
    height: 256px;
    font-size: 22px;
}

.click {
    border-radius: 8px;
    width: 140px;
    height: 48px;
    background:#000000;
    color: #FFFFFF;
    margin: 12px 0px 0px;
    font: 20px Arial;
    padding: 10px 10px;
}

.pergunta{
    display: flex;
    gap: 30px;
}

.linha{
  padding: 20px 0px 0px 0px;
  border-bottom: 1px solid black;
}
