footer{
    padding: 10px 50px;
    background-color: #000000fe;
    font-family: Arial, Helvetica, sans-serif;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer ul{
    list-style: none;
}
#comeco{
    padding: 34px 34px;
    display: flex;
    flex-direction: column-reverse;
}
#marca-servicos{
    font-size: 24px;
    gap: 60%;
    display: flex;
}
#marcas-servoços>#endereco>p{
    text-align: justify;
}


#endereco, .paragrafo{
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}
.menu{
    display: flex;
}
.menu>div{
    display: flex;
    gap: 100px;
}
.menu, a{
    color: #ffffff;
}

.titulo:hover{
    color: dimgrey;
    transition: .5s;
}

#help:hover{
    border-bottom: 2px solid #ffffff;
    width: 170px;
    margin-bottom: -2px;
}
#help>a>p{
margin-bottom: 30px;
}
    
#usabilidade{
    display: grid;
    grid-column-gap: 36px;
    grid-row-gap: 36px;
    }

#socialmedia{
    display: flex;
}
.botao{
    margin-right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #000000fe;
    color: #ffffff;
}
.botao:hover{
    cursor: pointer;
    background-color: rgba(105, 105, 105, 0.915);
    transition: .5s;
}
.icone{
margin: 35%;
}
#localizacao{
   /* width: 1000px; */
   margin-top: 10px;
   gap: 15px;
   display: flex;
}
.local{
    color: white;
    background-color: #000000fe;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 8px;

}
.local:hover{
    background-color: rgba(105, 105, 105, 0.915);
    transition: .5s;
}
.banner{
    margin: 4px 2px;
    align-items: center;
    justify-content: center;
    display: inline-block;
}
#app{
    display: flex;
}
.app-download{
    min-width: 128px;
    margin: 4px;
}
#rodape{
    margin-top: 210px;
    display:flex;
}
#direitos{
    margin-top: -150px;
}
#direitos p{
    color: gray;
    font-size: 12px;
}
#termos{
    display: flex;
    margin-inline-start: auto;
    gap: 50px;
    margin-top: -150px;
    /* display: grid;
    row-gap: 16px;
    grid-column: 1/-1; */
}
#termos p{
    font-size: 12px;
    color:gray;
   
}
.gap{
    gap: 9%;
}
.ul-footer > li{
    margin-bottom: 15px;
}
@media screen and (max-width:1135px) {
    .menu{
        display: block;
        
    }
    .menu>div{
        margin-bottom: 20px;
        
    }
    .menu>div>ul{
        margin-right: 120px;
    }
    .menu .ul-footer>h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    #marca-servicos{
        display: block;
        width: 500px;
    }
        /* #comeco{
            flex-direction: column;
        } */
        .botao{
            margin-right: 100px;
        }
        #localizacao{
            flex-direction: column;
        }
        .local{
            display: inline;
            margin: 0px;
            width: 150px;
            text-align: left;
        }
        #rodape{
            flex-direction: column;
            gap: 30px;
            margin-top: 50px;
        }
        #direitos{
            margin: 0px;
        }
        #termos{
            display: flex;
            gap: 50px;
            margin-bottom: 80px;
            margin: 0px;
        }

    }
    @media screen and (max-width:600px){
       
        .menu>div{
         display: block;
        } 
        .menu>div>ul{
            margin-bottom: 50px;
        }
        .botao{
            margin-right: 50px;
        }
    }