footer{
    padding:120px 120px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer ul{
    list-style: none;
}
#comeco{
    padding: 34px 34px;
}
#marca-servicos{
    gap: 80%;
    display: flex;
}

#endereco, .paragrafo{
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}
.menu{
    display: flex;
}
.menu, a{
    color: #ffffff;
}

.titulo:hover{
    color: dimgrey;
    transition: .5s;
}
#help:hover{
    border-bottom: 2px solid #ffffff;
    width: 16%;
}
#help>a>p{
margin-bottom: 30px;
}
    
#usabilidade{
    display: flex;
    gap: 20%;
}
#socialmedia{
    display: flex;
}
.botao{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #000000fe;
    color: #ffffff;
}
.botao:hover{
    cursor: pointer;
    background-color: rgba(105, 105, 105, 0.915);
    transition: .5s;
}
.icone{
margin: 35%;
}
#localizacao{
   display: flex;
   width: 1000px;
   margin-top: 12px;
   gap: 15px;
   border: solid red;
}

.local{

}

.botao2{
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: solid red;
}

.botao2:hover{
    cursor: pointer;
    background-color: rgba(105, 105, 105, 0.915);
    transition: .5s;
}
.gap{
    gap: 9%;
}